html {
  background-color: #101010;
  color: #ffffff;
  font-size: 12px;
}

canvas {
  border: 1px solid #00b0ff;
  background-color: #000000;
}

input {
  font-size: 12px;
}

input[type="text"] {
   width: 12em;
   color: #ffff00;
   background-color: #004080;
   border: 1px solid black;
   padding: 1px 2px 1px 2px;
}

select {
   background-color: #004080;
   border: 1px solid #00b0ff;
   padding: 0;
   margin: 0;
   color: #ffffff;
}
option {
   background-color: #004080;
   border: none;
}
option:hover {
  background-color: #0080ff;
}

/* EditModeWindow */
div.window-caption > div {
  float: right;
}
div.window-caption > div > input {
  margin: -2px 0 0 0;
  font-size: 80%;
  background-color: black;
  border: 1px solid #00b0ff;
  color: white;
}
div.window-caption > div > input:hover {
  background-color: #0080ff;
}

div.window-client > div.footer {
  text-align: right;
}

/* window */
div.window {
   background-color: #000000;
   border: 1px solid #00b0ff;
   padding: 0 1em 0.3em 1em;

   position: absolute;
   top: 10px;
   left: 500px;
}

div.window select {
   width: 100%;
}
div.window-caption {
   cursor: move;
   margin: 0 -1em 0.5em -1em;
   padding: 2px 0.5em 0.1em 0.5em;
   border-bottom: 1px solid #00b0ff;
   color: #00b0ff;
}
