html {
  background-color: #101010;
  color: #ffffff;
}

canvas {
  border: 1px solid #00b0ff;
  background-color: #000000;
}

/* window */
div.window {
   background-color: #000000;
   border: 1px solid #00b0ff;
   padding: 0 1em 1em 1em;

   position: absolute;
   top: 10px;
   left: 500px;
}

div.window select {
   width: 100%;
}
div.window-caption {
   cursor: move;
   margin: 0 -1em 1em -1em;
   padding: 0.1em 0.5em 0.1em 0.5em;
   border-bottom: 1px solid #00b0ff;
   color: #00b0ff;
}
